/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Global styles */

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-weight: 300;
    color: #494949;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #172429;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

.header {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color: #172429;
}

section {
    padding-top: 40px;
    padding-bottom: 60px;
}

.cta {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 15px;
    background-color:  #ee7463;
    border: none;  
}

/* Header */



header p {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

header nav{
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #172429;
    text-align: center;
}

header nav ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

header nav a {
    color: #fff2df;
    font-size: 18px;
    line-height: 60px;
}

nav .btn {
    background: #ee7463;
    color: white;
    padding: 15px 30px;
}

nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    margin: 0;
    background-color: #172429;
    border: none;
}

nav .close span {
    width: 40px;
    height: 4px;
    background: #fff2df;
    display: block;
    transform: rotate(45deg);
}

nav .close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #172429;
    display: block;
    margin-top: 9px;
}

.burger span:nth-child(1) {
    margin-top: 0;
}

nav .info {
    position: relative;
    display: block;
    margin: 0;
    color: #aba294;
    text-align: center;
    line-height: 18px;
    padding:20px 0;
}

.logo {
    display: inline-block;
}


@media only screen and (min-width: 1024px) {

header {
    padding: 15px 0 10px;
    max-width: 1300px;
    position: relative;
    margin: 0;
}

.text {
    background-image: url(img/1.jpg);
}

header nav, header .info {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
        padding: 0;
    }

header nav li, header .info li {
        float: left;
    }

header nav a {
        color: white;
        margin-left: 20px;
        padding-bottom: 15px;
    }


header nav a:not(.btn).active,
header nav a:not(.btn):hover {
        border-bottom: 1px solid #ee7463;
    }

header nav a,
header nav a.btn {
        font-size: 18px;
    }

header nav a.btn {
        color: #fff;
        background: #ee7463;
        background: rgb(238, 116, 99, 0.25);
    }

    header nav a.btn:hover {
        background: rgb(238, 116, 99);
    }

.burger, header nav .close {
        display: none;
    }

h1 {
    font-size: 50px;
    width: 100%;
}

header p, h1 {
    text-align: left;
}

.info {
    position: relative;
    display: inline;
    width: 100%
    top: 0;
    right: 10%;
    background: rgb(0, 0, 0, 0.25);
}

.info li {
        margin-left: 20px;
}

.text p{
    width: 33.33%;
    padding-top: 20px;
    line-height: 24px;
}

.text p span {
    font-weight: 700;
}

/**rooms**/

h2 {
    text-align: center;
}

section p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    line-height: 24px;

}


}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
