/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-----------------------------------------------*/
/************ GLOBAL styles ************/
/*-----------------------------------------------*/

* {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

body {
    font-size: 14px;
    font-weight: 300;
    color: #494949;
    font-family: 'Merriweather', serif;
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #172429;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

p {
    line-height: 22px;
}

.header {
    background-color: #172429;
}

section {
    margin-top: 50px;
}

.cta, .book-button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 25px;
    background-color:  #ee7463;
    border: none;
    transition: 0.3s;  
}

.cta:hover, .book-button:hover, form button:hover {
    background-image: linear-gradient(to right, rgba(252,148,73,1), rgba(238,116,99,1));
    cursor: pointer;
    border: none;
}

.book-button {
   margin-bottom: 20px;
   padding: 15px 20px; 
}

/*-----------------------------------------------*/
/******************** HEADER ***********************/
/*-----------------------------------------------*/

.header, section {
    padding: 0 20px;
}

.text {
    padding-top: 160px;
}

.text p {
    color: white;
}

.header {
    height: 100%;
    padding-top: 10px;
}

.logo {
    display: block;
    position: absolute;
}

h1 {
    font-size: 35px;
    color: white;
}

.cta {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    width: 200px;
}

.text img {
    margin: 100px 0 50px 0;
}

.header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.0)), url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*-----------------------------------------------*/
/*************** NAVIGATION *************/
/*-----------------------------------------------*/

header nav {
    display: none;
    background-color: #172429;
    position: fixed;
    top: 0;
    overflow-x: scroll;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.navigation {
    display: block;
    text-align: center;
    margin: 0;
    padding: 40px 0 0 0;
}

.navigation li {
     padding: 10px 0;
}

.navigation li:not(:last-child) {
    border-bottom: 1px solid #aba294;
}

.navigation a {
    color: white;
    font-size: 18px;
    line-height: 40px;
}

.navigation li:last-child {
    background-color: #ee7463;
}

.info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    line-height: 18px;
    font-size: 12px;
}

.info li {
    color: #aba294;
}

nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    margin: 0;
    background-color: #172429;
    border: none;
}

nav .close span {
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
    transform: rotate(45deg);
}

nav .close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

.burger {
    width: 35px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
    background-color: transparent;
    border: none;
}

.burger span {
    width: 100%;
    height: 5px;
    background-color: #fff;
    display: block;
    margin-top: 7px;
}

.burger span:nth-child(1) {
    margin-top: 0;
} 

/*-----------------------------------------------*/
/**************** ROOMS ***************/
/*-----------------------------------------------*/

.room-centered-text p span {
    font-weight: 700;
}

.room {
    position: relative;
    margin-top: 20px;
}

.wrapper a {
    color: #494949;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: 1px solid #494949;
    position: inherit;
    top: 8px;
} 

.wrapper h3 {
    margin: 30px 0 20px 0;
}

.wrapper h4 {
    margin: 20px 0;
}

.wrapper p {
    margin: 30px 0 10px 0;
}

/*-----------------------------------------------*/
/********************** GALLERY ***********************/
/*-----------------------------------------------*/

.gallery {
    background-color: #ebebeb;
    padding: 20px 10px;
}

.gallery ul {
    margin: 0;
    padding: 0;
}

.gallery .flex-control-nav li {
    padding-bottom: 15.5%;
    height: 0;
    position: relative;
    overflow: hidden;
}


.gallery .flex-control-nav li img {
    height: 100%;
    width: auto;
}

.gallery .flexslider li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

.flexslider .slides > li {
    height: 0;
    padding-bottom: 5%;
    overflow: hidden;
    position: relative;
}
/*-----------------------------------------------*/
/**************** ABOUT US ***********************/
/*-----------------------------------------------*/

.about ul li {
    display: block;
    text-align: left;
    margin: 10px 0 25px 0; 
    line-height: 22px;
    padding-left: 15px;
    position: relative;
    max-width: 400px;
}

.wifi:before, .pet:before, .lang:before, .sauna:before,
.dist:before, .park:before, .salad:before, .parking:before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: -42px;
    top: 50%;
    transform: translateY(-50%);
}

.wifi:before {
    width: 41px;
    height: 32px;
    background-image: url('../img/wifi.png');
}

.pet:before {
    width: 37px;
    height: 32px;
    background-image: url('../img/petfrend.png');
}

.lang:before {
    width: 44px;
    height: 44px;
    background-image: url('../img/language.png');
}

.sauna:before {
    width: 37px;
    height: 45px;
    background-image: url('../img/sauna.png');
}

.dist:before {
    width: 37px;
    height: 43px;
    background-image: url('../img/distance.png');
}

.park:before {
    width: 37px;
    height: 47px;
    background-image: url('../img/park.png');
}

.salad:before {
    width: 37px;
    height: 40px;
    background-image: url('../img/salad.png');
}

.parking:before {
    width: 37px;
    height: 40px;
    background-image: url('../img/parking.png');
}

/*-----------------------------------------------*/
/****************** BREAKFAST MENU *********************/
/*-----------------------------------------------*/

.breakfast {
    background-color: #172429;
    color: white;
    padding: 15px 10px;
}

.breakfast h2 {
    color: white;
}

.breakfast p {
    padding: 0 10px;
    max-width: 500px;
    margin: 0 auto;
}

.breakfast ul {
    margin: 30px 0;
    padding: 0;
}

.breakfast .first-list li {
    margin: 0 0 10px;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
}

.breakfast .first-list li:nth-child(odd) {
    padding-right: 5px;
}

.breakfast .first-list li:nth-child(even) {
    padding-left: 5px;
}

.breakfast ul img {
    display: block;
    width: 100%;
}

.breakfast .second-list {
    display:block; 
}

.breakfast .second-list li  {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.vine {
    margin: 20px 0;
}

.vine h2 {
    color: #ee7463;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
}

.vine span {
    font-weight: 700;
}

.vine p:first-of-type {
    margin-bottom: 30px;
    line-height: 24px;
    position: relative;
    margin-top: 30px;
}

/*-----------------------------------------------*/
/****************THINGS TO DO*******************/
/*-----------------------------------------------*/

.things {
    padding: 0;
}

.things h2 {
    margin: 20px 0 30px 0;
}

.waterfall, .horse, .alpaca, .view {
    margin-bottom: 40px;
    padding: 20px;
}

.things h3 {
    margin: 15px 0 5px 0;
}

.things p {
    margin: 10px 0;
}

.horse, .view {
    background-color: #ebebeb;
    padding: 20px;
}

.something ul li {
    line-height: 25px;
    text-align: left;
    padding-left: 8px;
}

/*.things img {
    border: 5px solid white;
    box-shadow: -1px -1px 33px -7px rgba(0,0,0,0.2);
}*/

/*-----------------------------------------------*/
/*************** INFO AND LOCATION ******************/
/*-----------------------------------------------*/

.info-loc div {
    margin-top: 30px;
}

.info-loc p {
    text-align: left;
    max-width: 400px;
}

.info-loc p span {
    color: #ee7463;
    font-weight: 700;
}

.info-loc p strong {
    font-weight: 700;
}

.info-loc a {
    color: #494949;
    margin: 10px 0 15px 0;
    display: block;
    transition: 0.3s;
}

.info-loc a:hover {
    color: #fc9449;
    cursor: pointer;
}

.owners img {
    border: 5px solid white;
    box-shadow: -1px -1px 33px -7px rgba(0,0,0,0.2);
}

.owners p {
    text-align: center;
}

.owners h3 {
    margin-bottom: 20px;
}

.map {
    padding: 0;
}

iframe {
    width: 100%;
    margin: 10px 0 40px 0;
    height: 450px;
}

/*-----------------------------------------------*/
/************************ FORM ******************/
/*-----------------------------------------------*/

form {
    margin: 0 auto;
    max-width: 570px;
}

form legend {
    color: #494949;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

input, textarea, select {
   width: 100%;
   padding: 12px 20px;
   margin: 10px 0;
   display: inline-block;
   border: 1px solid #ccc;
   background-color: white;
   outline: none;
}

::placeholder {
    color: #ccc;
}

label {
    display: block;
    float: left;
    margin-top: 6px;
    font-weight: 700;
}

input:focus, textarea:focus, select:focus {
       border: 1px solid #333;
       color: #333;
}

form button {
    padding: 20px 25px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #ee7463;
    border: none;
    margin-top: 20px;
    transition: 0.3s;
}

/*-----------------------------------------------*/
/********************* FOOTER *******************/
/*-----------------------------------------------*/

footer {
    background-color:  #172429;
    margin-top: 30px;
    padding-top: 20px;
}

.footerlogo {
    margin-bottom: 10px;
    margin-top: 20px;
}

.footerinfo p {
    font-size: 10px;
    color: #fff2df;
}

.footernav .navigation {
    color: white;
    padding-top: 10px;
}

.footernav .navigation li {
    border-bottom: none;
    margin-bottom: 10px;
    padding: 0;
}

.footernav .navigation li:last-child {
    margin-bottom: 0;
}

.footernav .navigation li a {
    font-size: 14px;
}

.footerinfo {
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    color: #fff2df;
    text-align: center;
    padding: 30px 0 5px 0;
    line-height: 20px;
}

.footerinfo ul {
    padding-left: 0;
}

.footerinfo a {
    width: 20px;
    height: 100%;
    margin-left: 30px;
}

.footerinfo a:first-child {
    margin-left: 0;
}

/*-----------------------------------------------*/
/*********************MEDIA 640px**********************/
/*-----------------------------------------------*/

@media only screen and (min-width: 640px) {

/**********HEADER**********/
   .text {
        text-align: left;
        width: 500px;
        margin-left: 30px;
   }

   .cta {
        position: absolute;
        left: 30px;
        transform: translate(20px);
   }

   .header {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(../img/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
   }

   /**********ROOMS**********/

   .room-centered-text {
        max-width: 540px;
        margin:0 auto;
    }

    .wrapper .room {
        display: inline-block;
        width: 48%;
        vertical-align: top;
        margin-right: 20px;
    }

    .room:nth-child(even) {
       margin-right: 0;
    }

    .room p {
        min-height: 109px;
    }

    .room {
        padding: 0 5px;
        transition: 0.3s;
    }

    .room:hover {
        box-shadow: -1px -1px 33px -7px rgba(0,0,0,0.2);
    }

    /**********BREAKFAST MENU**********/

    .breakfast ul {
        margin: 30px 0 10px 0;
        padding: 0;
    }

    .breakfast .first-list li {
        margin: 0 10px 10px 0;
        padding: 0;
        display: inline-block;
        float: none;
        width: 23%;
    }

    .first-p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .breakfast .first-list li:nth-child(4n+0) {
        margin: 0 0 10px 0;
    }

    .breakfast .first-list li:nth-child(odd) {
        padding-right: 0;
    }

    .breakfast .first-list li:nth-child(even) {
        padding-left: 0;
    }

    .breakfast ul img {
        display: block;
        width: 100%;
    }

    .breakfast .second-list {
        display:block;
        width: 100%; 
    }

    .breakfast .second-list li  {
        display: inline-block;
        width: 31%;
        padding: 0;
        margin-right: 10px;
        max-height: 114px;
        overflow: hidden;
        vertical-align: middle;
    }

    .breakfast .second-section .first-p:first-child {
        float: right;
        max-width: 68%;
    }

    .breakfast .second-list li:last-child {
        margin-right: 0;
    }

    .vine {
        margin: 60px 0;
        display: block;
    }

    /**********TTD**********/

    .waterfall, .horse, .alpaca, .view{
        display: inline-block;
        width: 45%;
        vertical-align: middle;
        position: relative;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .things h3 {
        margin: 20px 0 10px 0;
    }

    .something h3 {
        text-align: left;
        margin-left: 50px;
    }

    .something {
        width: 400px;
    }

    .info-loc .inf {
        display: flex;
        justify-content: space-around;
    }

    .info-loc .inf p {
        text-align: center;
    }

    .info-loc .inf div {
        width: 30%;
        max-width: 300px;
    }

    .info-loc .inf .folow {
        width: 20%;
    }
}

/*-----------------------------------------------*/
/*********************MEDIA 700px**********************/
/*-----------------------------------------------*/

@media only screen and (min-width: 700px) {

    /**********GENERAL**********/

    section, footer {
        margin-top: 50px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    hr {
        width: 200px;
        margin-bottom: 30px;
    }

    /**********ABOUT US**********/

    .about ul li {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        position: relative;
    }

    .about ul li:nth-child(odd) {
        margin-right: 70px;
    }

    /**********BREAKFAST MENU**********/

    .vine p {
        margin-top: 15px;
    }

    .first-p p {
        margin: 0 auto;
    }

    .breakfast .first-list li {
        width: 23.5%;
    }

    .breakfast .second-list {
        display: inline-block;
        margin-top: 0;
    }

    .breakfast .second-list li  {
        display: inline-block;
        width: 32%;
        padding: 0;
        margin-right: 10px;
        max-height: 126px;
        overflow: hidden;
        vertical-align: middle;
    }

    /**********INFO**********/

    .owner-img {
        display: inline-block;
        width: 50%;
        float: left;
    }

    .owner-text {
        display: inline-block;
        width: 40%;
        margin-left: 10px;
    }

    .owners {
        vertical-align: top;
    }

    .owner-text h3 {
       margin: 0 0 20px;
    }


    /**********FOOTER**********/

    .footernav .navigation {
        padding-top: 10px;
        margin-bottom: 10px;
        margin: 0 auto;
    }

    .footernav .navigation li {
        display: inline-block;
        margin-right: 10px;
    }

    .footernav .navigation li:last-child {
        margin-bottom: 0;
        margin-right: 0;
        background-color: transparent;
        border: none;
    }

    .footernav .navigation li a {
        font-size: 14px;
        color: #ee7463;
    }

    .footernav .navigation li a:hover {
        color: #fc9449;
    }

    .footerinfo {
        padding-top: 10px;
        margin: 0 auto;
    }

    .footerinfo ul li {
        display: inline-block;
        margin-right: 30px;
    }

    .footerinfo ul:last-child {
        margin-right: 0;
    }

}

@media only screen and (min-width: 800px) {

    .breakfast .second-list li {
        max-height: 144px;
    }

    .breakfast .first-list li {
        width: 23.6%;
    }

    .vineflex {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .vineflex>div {
        width: 60%;
    }

    .vineflex .first-p {
        width: 37%;
        margin-top: 0;
    }

    .vineflex .first-p p {
        margin-top: 0;
        text-align: left;
    }

    .vine h2 {
        text-align: left;
    }
}

@media only screen and (min-width: 900px) {

    .breakfast .second-list li {
        max-height: 169px;
    }

    .breakfast .first-list li {
        width: 23.7%;
    }
}



/*-----------------------------------------------*/
/*********************MEDIA 1040px**********************/
/*-----------------------------------------------*/

@media only screen and (min-width: 1040px) {

/**********GENERAL**********/    

    .header, section {
        padding: 0 60px;
    }

/**********HEADER**********/

    .logo {
        left: 15px;
    }

    .cta {
        left: 70px;
    }

    .text img {
        margin: 10px 0 100px 300px;
    }

    h1 {
        font-size: 60px;
        width: 1000px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    hr {
        margin-bottom: 50px;
    }

    h2 {
        font-size: 40px;
    }

    .text p {
        width: 500px;
        margin-bottom: 40px;
    }

    .header {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.0)), url(../img/1.jpg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right;
    }

/**********ROOMS**********/

    .room img {
        display: none;
    }

    .room h3, .room p, .room h4, .book-button {
        text-align: left;
    }

    .wrapper {
        margin-top: 60px;
    }

    .wrapper a {
        display: none;
    }

    .wrapper .room {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        background-size: 400px auto;
        height: 250px;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .room1 {
        background: #fff url(../img/2a.jpg) no-repeat left;
    }

    .room2 {
        background: #fff url(../img/3a.jpg) no-repeat right;
    }

    .room3 {
        background: #fff url(../img/4a.jpg) no-repeat left;
    }

    .room4 {
        background: #fff url(../img/5a.jpg) no-repeat right;   
    }

    .room1, .room3 {
        padding-left: 450px;
        padding-right: 20px;
        border: 5px solid white;
    }

    .room2, .room4 {
        padding-right: 350px;
        padding-left: 20px;
        border: 5px solid white;
    }

    .book-button {
        position: relative;
        bottom: 34px;
        left: 55px;
    }

    .room h3 {
        padding-top: 15px;
        margin-top: 10px;
    }

    .room p {
        min-height: auto;
        max-width: 450px;
    }

    .room h4 {
        padding-top: 20px;
        margin: 0;
    }

    .room-centered-text {
        max-width: 600px;
    }

/**********ABOUT US**********/

    .about ul li {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        position: relative;
    }

    .about ul li:nth-child(odd) {
        margin-right: 70px;
    }

    header nav {
        display: inline-block;
        background-color: transparent;
        position: absolute;
        overflow-x: inherit;
        top: 15px;
        right: 10px;
        height: 50px;
        border-bottom: none;
    }

    .navigation {
        display: block;
        text-align: right;
        margin: 0 15px 0 0;
        padding: 40px 0 0 0;
    }

    .footernav .navigation {
        text-align: center;
    }

    .navigation li {
        display: inline-block;
        padding: 0;
    }

    .navigation li:not(:last-child) {
        border-bottom: none;
    }

    .navigation a {
        margin-right: 20px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .navigation a:hover {
        cursor: pointer;
        color: #FC9449;
        transition: 0.3s;
        border-bottom: 1px solid #FC9449;
    }

    .navigation .btn {
        background-color: #ee7463;
        padding: 10px 15px;
        margin-right: 0;
    }

    .navigation .btn:hover {
        background-color: #fc9449;
        transition: 0.3s;
        cursor: pointer;
        color: white;
        border-bottom: none;
    }

    .info {
        position: absolute;
        display: inline-block;
        top: -26px;
        text-align: right;
        line-height: 18px;
        font-size: 12px;
        width: 100%;
        padding: 8px 15px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .info li {
        display: inline-block;
        color: #aba294;
        margin-right: 20px;
    }

    .navigation .active {
        color: #ee7463;
        border-bottom: 1px solid #ee7463;
    }

    .navigation .active:hover {
        color: #FC9449;
        border-bottom: 1px solid #FC9449;
    }   

    nav .close, .burger {
        display: none;
    }

    .logo {
        top: 40px;
    }

    .breakfast .second-list li {
        max-height: 190px;
    }

    .vine p {
        margin-top: 15px;
    }

}



/*
FORME!

label, hint, dodatni natpisi-error 

30seconds
*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.unstyle-list {
    list-style: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
